---
import WebLayout from "../layouts/WebLayout.astro";

---

<WebLayout language="en" title="COUCOU TOUT LE MONDE">
	
	<h1> Titre</h1>

</WebLayout>
<style>
	body {
		background-color: blue;
	}
</style>