---
//Import des layout etc
import Layout from "../layouts/WebLayout.astro";
import "../styles/index.scss";
---

<Layout>
  <h1>SandBox</h1>
  <div class="title"></div>
</Layout>

<script src="../interactions/course.ts"></script>
