<section class="about-me" id="Accueil">
    <h2>Hello, I'm <strong>Merlin COUDOL</strong></h2>
    <img src="your-photo.jpg" alt="Your photo" width="200"> <!-- Replace with your photo -->
    <p>Welcome to my website! I am an IT Student based in <strong>Paris</strong>. I specialize in JavaScript for the most part. In my free time, I love to play video games, play the piano or even hang out with my friends. I almost forgot to mention that I love going to the gym!.</p>
    
    <h3>My Background</h3>
    <p>I have the <i>baccalauréat</i> I have worked on various projects, including a reworking of an Intranet platform for the <strong>INSERM</strong>. My passion is about seeing every angle of things, whether it is mountains, websites, videogames, music,etc.</p>
    
    <h3>My Skills</h3>
    <ul>
        <li>Adaptability</li>
        <li>Communicative</li>
        <li>Patience</li>
    </ul>
    
    <h3>More About Me</h3>
    <p>LinkedIn :</p>
    <p>GitHub :</p>
    <p>Email : <i>merlin.cdl@hotmail.com</i> </p>
    
</section>