---

---

<footer>

    <ul>
        <li><a href="#Accueil" class="back-to-top">Revenir en Haut</a></li>
        <!-- <li><a href="">BUTTON</a></li> -->
        <!-- <li><a href="">BUTTON</a></li> -->
        <li><a href="/legal-mentions">Mentions Légales</a></li>
    </ul>
    <p id="Copyright">
        @Merlin COUDOL - 2024, Tous droits réservés.
    </p>
    
</footer>
