---

---

<footer>

    <p>
        Website made with the Astro Framework.
    </p>

</footer>

<style lang="scss">
    footer {
        & p{
            text-align: center;
        }
    }
</style>