---
interface Props {
// Header Titles

	title2: string;
	title3: string;
	title4: string;

// Redirections



}

const { title2, title3, title4} = Astro.props;
---

<header>
    <nav>
        <ul>
            <li class="logo" id="Accueil"> <img src="/home-icon-silhouette.svg" alt="Home" /> </li>
            <li><a href="#MonParcours">{title2}</a></li>
            <li><a href="#MonProjet">{title3}</a></li>
            <li><a href="#MeContacter">{title4}</a></li>

        </ul>
    </nav>
</header>



