---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import JavascriptDeveloper from "../components/JavascriptDeveloper.astro";
import '../styles/index.scss';

interface Props {
    language?:string
	title?: string
}

const {
    language = "en",
    title = "Portfolio Merlin COUDOL"
    }= Astro.props;



---

<!-- HTML 5 -->

<!DOCTYPE html>
<html lang={language}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>

<body>

        <Header title2='Mon Parcours', title3='Mon Projet', title4='Me Contacter'/>

        <slot />

        <JavascriptDeveloper />

    <Footer />

</body>

</html>
